    .contact{
        &_block_tems{
            padding-top: 30px;
        }
        &_block_list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 960px;
        }
        &_block_item{
            margin-top: 30px;

            max-width: 220px;
            text-align: start;
        }
        &_block_items{
            margin-left: 123px;
        }
        &_us_block{
            transform: translate(-13px, -43px);
        }
        &_block_text{
            padding-bottom: 10px;

            font-weight: 500;
            font-size: 19px;
            line-height: 20px;
            letter-spacing: 0.5px;
        }
        &_block_info{
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;  
        }
        &_us_distributor{
            margin-top: 0;
        }
        &_map{
            margin-top: 70px;
        }
    }