.breadcrumbs_contact{
    background-color: var(--color-white);
}

.contact{
    position: relative;
    text-align: center;
    padding-top: 5px;
    &_title{
        font-weight: 600;
        font-size: 54px;
        line-height: 120%;

        padding-bottom: 43px;
        text-transform: uppercase;
    }
    &_img{
        margin: 0 auto;
    }
    &_question{
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 43px;
    }
    &_question_span{
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }
    &_question_btn{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;

        border: none;
        background: none;
        cursor: pointer;
        border-bottom: 1px solid var(--color-black);
    }
    &_distributor{
        margin-top: 87px;
        margin-bottom: 143px;

        padding: 118px 95px 42px 62px;

        background-color: var(--color-pink);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_distributor_title{
        max-width: 450px;
        font-weight: 600;
        font-size: 41px;
        line-height: 120%;
    }
    &_distributor_btn{
        padding: 24px 63px 17px 63px;
        cursor: pointer;

        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--color-pink);


        border-radius: 4px;
        background-color: var(--color-black);
    }
}





.overlay{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 89, 89, 0.5);
    z-index: 3;
    &_block{
        padding-top: 157px;
    }
   &_container{
    position: relative;
    
    box-shadow: -2px 0px 40px rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding-top: 95px;
    margin: 0 auto;
    width: 661px;
    padding-bottom: 60px;
    background: var(--color-white);
}
 
&_close{
    cursor: pointer;
    position: absolute;
    top: 74px;
    right: 77px;
    background-image: url(../../../img/contact/close.svg);
    width: 16px;
    height: 16px;
}
    &_title{
        margin-bottom: 47px;

        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
    }
   
    &_form{
        display: table-caption;

        margin-bottom: 28px;
        margin-left: 60px;
    }
    &_form_title{
        width: 534px;
        padding-top: 16px;
        padding-bottom: 27px;        
        padding-left: 15px;

        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 15px;
    }
    &_form_review{
        padding-bottom: 55px;
        padding-left: 16px;
        width: 534px;
        height: 96px;

        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    }
    &_score{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 67px;
            }
    &_stars{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;

        margin-left: -5px;
        position: relative;
        &:after{
            content: "";
            cursor: pointer;
            position: absolute;
            width: 137px;
            height: 25px;
            top: -2px;
            left: 56px;
            background-image: url(../../../img/contact/stars.svg);
        }
    }
    &_btn{
        padding: 10px 71px 12px 68px;
        cursor: pointer;

        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        border-radius: 4px;
        
        color: var(--color-pink);
        background-color: var(--color-black);
    }
}





.distributor{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 89, 89, 0.5);
    z-index: 3;
    &_block{
        padding-top: 157px;
    }
   &_container{
    position: relative;
    
    box-shadow: -2px 0px 40px rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding-top: 95px;
    margin: 0 auto;
    width: 661px;
    padding-bottom: 60px;
    background-color: var(--color-pink);
}
&_close{
    cursor: pointer;
    position: absolute;
    top: 74px;
    right: 77px;
    background-image: url(../../../img/contact/close.svg);
    width: 16px;
    height: 16px;
}
   
    &_title{
        margin-bottom: 47px;

        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
    }
   
    &_form{
        display: table-caption;

        margin-bottom: 28px;
        margin-left: 60px;
    }
    &_form_title{
        width: 534px;
        padding-top: 16px;
        padding-bottom: 27px;        
        padding-left: 15px;

        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 15px;
    }
    &_form_review{
        padding-bottom: 55px;
        padding-left: 16px;
        width: 534px;
        height: 96px;

        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    }
    &_score{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 61px;
    }
    &_stars{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;

        margin-left: -5px;
        position: relative;
        &:after{
            content: "";
            cursor: pointer;
            position: absolute;
            width: 137px;
            height: 25px;
            top: -2px;
            left: 56px;
            background-image: url(../../../img/contact/stars.svg);
        }
    }
    &_btn{
        width: 100%;
        padding: 21px 0;
        transition: all .5s ease-in-out;
        &:hover{
            background-color: var(--color-white);
            color: var(--color-black);
        }

        cursor: pointer;

        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        border-radius: 4px;
        
        color: var(--color-pink);
        background-color: var(--color-black);

        
    }
}



.question{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 89, 89, 0.5);
    z-index: 3;
    &_block{
        padding-top: 157px;
    }
   &_container{
    position: relative;
    
    box-shadow: -2px 0px 40px rgb(0 0 0 / 10%);
    border-radius: 30px;
    padding-top: 95px;
    margin: 0 auto;
    width: 661px;
    padding-bottom: 60px;
    background-color: var(--color-white);
}
    &_close{
        cursor: pointer;
        position: absolute;
        top: 74px;
        right: 77px;
        background-image: url(../../../img/contact/close.svg);
        width: 16px;
        height: 16px;
    }
   
    &_title{
        margin-bottom: 47px;

        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
    }
   
    &_form{
        display: table-caption;

        margin-bottom: 28px;
        margin-left: 60px;
    }
    &_form_title{
        width: 534px;
        padding-top: 16px;
        padding-bottom: 27px;        
        padding-left: 15px;

        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 15px;
    }
    &_form_review{
        padding-bottom: 55px;
        padding-left: 16px;
        width: 534px;
        height: 96px;

        outline: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    }
    &_score{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 61px;
    }
    &_stars{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;

        margin-left: -5px;
        position: relative;
        &:after{
            content: "";
            cursor: pointer;
            position: absolute;
            width: 137px;
            height: 25px;
            top: -2px;
            left: 56px;
            background-image: url(../../../img/contact/stars.svg);
        }
    }
    &_btn{
        width: 100%;
        padding: 21px 0;
        transition: all .5s ease-in-out;
        &:hover{
            background-color: var(--color-white);
            color: var(--color-black);
        }

        cursor: pointer;

        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        border-radius: 4px;
        
        color: var(--color-pink);
        background-color: var(--color-black);

        
    }
}





.more-splash {
    -webkit-animation-name: splash;
            animation-name: splash;
    -webkit-animation-duration: .9s;
            animation-duration: .9s;
  }
  @-webkit-keyframes splash {
    from {
      box-shadow: 0 0 10px #c73030;
    }
    to {
      box-shadow: 0 0 60px #c73030;
    }
  }
  @keyframes splash {
    from {
      box-shadow: 0 0 10px #c73030;
    }
    to {
      box-shadow: 0 0 60px #c73030;
    }
  }

  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }