<div class="breadcrumbs ">
    <div class="container breadcrumbs_container breadcrumbs_container_line">
        <ul class="breadcrumbs_list ">
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="../index.html" >Home</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >About</a>
            </li>
        </ul>
        <h3 class="breadcrumbs_title breadcrumbs_title_line">About</h3>
    </div>
</div>




<div class="about">
        <div class="about_bg">
            <div class="about_bg_descr">
                <p class="about_text">Meet the founder</p>
                <h4 class="about_name">Julia Iskusnykh</h4>
                <p class="about_subtext">My mistakes and great experience led me to where I am now.</p>
            </div>
        </div>
        <div class="container">
            <div class="about_descr">
                <div class="about_descr_block">
                    <h4 class="about_descr_title">Our integrated approach to the product helps the master create fabulous looks</h4>
                    <p class="about_descr_text">My mistakes and great experience led me to where I am now.</p>
                </div>
                <img class="about_descr_img" src="../img/about/woman.png" alt="" >
            </div>
        </div><!-- container -->
        <div class="about_table">
            <div class="container">
                <div class="about_table_container">
                    <div class="about_table_item">
                        <img class="about_table_img" src="../img/about/icon1.svg" alt="" >
                        <p class="about_table_text">Professionalism</p>
                        <p class="about_table_subtext">Since 2015 we've been learning everything about eyes, glances, and modeling eyes look. Our products help masters to become professionals in the lash&lami&brow beauty industry. Furthermore, we follow trends to keep up with the times.</p>
                    </div>
                    <div class="about_table_item">
                        <img class="about_table_img" src="../img/about/icon2.svg" alt="" >
                        <p class="about_table_text">Completeness</p>
                        <p class="about_table_subtext">We offer a full pack of products for lash&lami&brow masters to help them become better and improve their skills.
                            Believe that with the Sculptor, you'll become a successful master.</p>
                    </div>
                    <div class="about_table_item">
                        <img class="about_table_img" src="../img/about/icon3.svg" alt="" >
                        <p class="about_table_text">Global availability</p>
                        <p class="about_table_subtext">We have more and more representatives of our brand abroad. We're so excited that our high-quality products attract and unite beauty representatives. Let's spread lash&lami&brow beauty all over the world.</p>
                    </div>
                    <div class="about_table_item">
                        <img class="about_table_img" src="../img/about/icon4.svg" alt="" >
                        <p class="about_table_text">Community</p>
                        <p class="about_table_subtext">We have a huge alumni community of our masters that is always ready for any help. And you can become a part of it. Join our community today to create exciting looks tomorrow!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_guide">
            <div class="container">
                <div class="about_guide_container">
                    <img class="about_guide_img" src="../img/about/creame.png" alt="" >
                    <div class="about_guide_info">
                        <p class="about_guide_info_title">What guides us</p>
                        <p class="about_guide_info_subtitle">We create skincare essentials packed with Asian botanicals. Our products celebrate ingredients derived from Chinese herbs and their ancient powers through modern day skincare. </p>
                        <div class="about_guide_info_text">
                            <p>VEGAN & CRUELTY-FREE
                                NO ARTIFICIAL FRAGRANCE
                                NO ARTIFICIAL COLORS*
                                NO PARABENS
                                NO SULFATES (SLS/SLES)</p>
                                <p>NO ADDED PHTHALATES
                                    NO SILICONES
                                    NO FORMALDEHYDE
                                    NO TRICLOSAN
                                    NO TRICLOCARBAN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_distributor">
            <div class="container">
                <div class="about_distributor_container">
                    <div class="contact_distributor">
                        <h4 class="contact_distributor_title">Become a distributor of Sculptor lash</h4>
                        <button class="contact_distributor_btn about_distributor_btn">Join now</button>
                    </div>
                </div>
            </div>
        </div>
        
</div><!-- about -->


