<div class="breadcrumbs breadcrumbs_contact">
    <div class="container breadcrumbs_container breadcrumbs_container_line">
        <ul class="breadcrumbs_list ">
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="../index.html" >Home</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >contact us</a>
            </li>
        </ul>
        <h3 class="breadcrumbs_title">Contact us</h3>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="contact_block contact_us_block">
            <img class="contact_img" src="../img/contact/contact.jpg" alt="#" >
            <div class="contact_block_items">
                <ul class="contact_block_list">
                    <li class="contact_block_item">
                        <p class="contact_block_text">Адреса:</p>
                        <a href="" class="contact_block_info">вул. Січових Стрільців, 52А, м. Київ, 02000</a>
                    </li>
                    <li class="contact_block_item">
                        <p class="contact_block_text">Телефон:</p>
                        <a href="" class="contact_block_info">+38 099 788 96 86</a>
                        <br>
                        <a href="" class="contact_block_info">+38 067 572 90 13</a>
                    </li>
                    <li class="contact_block_item">
                        <p class="contact_block_text">Адреса:</p>
                        <a href="" class="contact_block_info">shop@sculptor-lash.com</a>
                    </li>
                    <li class="contact_block_item">
                        <p class="contact_block_text">Час роботи:</p>
                        <a href="" class="contact_block_info">9:00-18:00</a>
                    </li>
                </ul>
            </div>
            <div class="contact_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1233.9241887568635!2d30.491717349776827!3d50.4567119433594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce637ff15357%3A0x99a0320047d562a0!2z0YPQuy4g0KHQtdGH0LXQstGL0YUg0KHRgtGA0LXQu9GM0YbQvtCyLCA1MtCQLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1671299833722!5m2!1sru!2sua" width="1166" height="266" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contact_distributor contact_us_distributor">
                <h4 class="contact_distributor_title">Become a distributor of Sculptor lash</h4>
                <button class="contact_distributor_btn ">Join now</button>
            </div>
            <div class="contact_question">
                <h54 class="contact_question_span">Any questions left?</h54>
                <button class="contact_question_btn">Fill the form</button>
            </div>
        </div>
    </div>

<!--     <div class="overlay">
        <div class="overlay_block">
            <div class="overlay_container">
                <h4 class="overlay_title">Write a review</h4>
                <span class="overlay_close"></span>
                <form class="overlay_form" action="#">
                    <input class="overlay_form_title" placeholder="Title" type="text">
                    <input class="overlay_form_review" placeholder="Review" type="text">
                </form>
                <div class="overlay_score">
                    <span class="overlay_stars">Score</span>
                    <button class="overlay_btn">Post</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="overlay fade">
        <div class="overlay_block">
            <div class="overlay_container">
                <h4 class="overlay_title">Write a review</h4>
                <span class="overlay_close"></span>
                <form class="overlay_form" action="#">
                    <input class="overlay_form_title" placeholder="Title" type="text">
                    <input class="overlay_form_review" placeholder="Review" type="text">
                </form>
                <div class="overlay_score">
                    <span class="overlay_stars">Score</span>
                    <button class="overlay_btn">Post</button>
                </div>
            </div>
        </div>
    </div>

    <div class="distributor">
        <div class="distributor_block">
            <div class="distributor_container ">
                <h4 class="distributor_title">Become a distributor</h4>
                <span class="distributor_close"></span>
                <form class="distributor_form" action="#">
                    <input class="distributor_form_title " placeholder="Name" type="text">
                    <input class="distributor_form_title " placeholder="Last Name" type="text">
                    <input class="distributor_form_title " placeholder="Email" type="text">
                    <input class="distributor_form_title " placeholder="Your company" type="text">
                    <input class="distributor_form_review " placeholder="Additional information" type="text">
                </form>
                <div class="distributor_score ">
                    <button class="distributor_btn ">Send a request</button>
                </div>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="question_block">
            <div class="question_container">
                <h4 class="question_title">Any questions left?</h4>
                <span class="question_close"></span>
                <form class="question_form" action="#">
                    <input class="overlay_form_title" placeholder="Name" type="text">
                    <input class="overlay_form_title" placeholder="Last Name" type="text">
                    <input class="overlay_form_title" placeholder="Email" type="text">
                    <input class="question_form_review" placeholder="Your questions..." type="text">
                </form>
                <div class="question_score">
                    <button class="question_btn">Send</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

