<div class="breadcrumbs breadcrumbs_contact">
    <div class="container breadcrumbs_container breadcrumbs_container_line">
        <ul class="breadcrumbs_list ">
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="../index.html" >Home</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >contact us</a>
            </li>
        </ul>
        <h3 class="breadcrumbs_title">Contact us</h3>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="contact_block">
            <h4 class="contact_title">
                shop@sculptor-lash.com
            </h4>
            <img class="contact_img" src="../img/contact/contact.jpg" alt="#" >
            <div class="contact_question">
                <h54 class="contact_question_span">Any questions left?</h54>
                <button class="contact_question_btn">Fill the form</button>
            </div>
            <div class="contact_distributor">
                <h4 class="contact_distributor_title">Become a distributor of Sculptor lash</h4>
                <button class="contact_distributor_btn ">Join now</button>
            </div>
        </div>
    </div>

<!--     <div class="overlay">
        <div class="overlay_block">
            <div class="overlay_container">
                <h4 class="overlay_title">Write a review</h4>
                <span class="overlay_close"></span>
                <form class="overlay_form" action="#">
                    <input class="overlay_form_title" placeholder="Title" type="text">
                    <input class="overlay_form_review" placeholder="Review" type="text">
                </form>
                <div class="overlay_score">
                    <span class="overlay_stars">Score</span>
                    <button class="overlay_btn">Post</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="overlay fade">
        <div class="overlay_block">
            <div class="overlay_container">
                <h4 class="overlay_title">Write a review</h4>
                <span class="overlay_close"></span>
                <form class="overlay_form" action="#">
                    <input class="overlay_form_title" placeholder="Title" type="text">
                    <input class="overlay_form_review" placeholder="Review" type="text">
                </form>
                <div class="overlay_score">
                    <span class="overlay_stars">Score</span>
                    <button class="overlay_btn">Post</button>
                </div>
            </div>
        </div>
    </div>

    <div class="distributor">
        <div class="distributor_block">
            <div class="distributor_container ">
                <h4 class="distributor_title">Become a distributor</h4>
                <span class="distributor_close"></span>
                <form class="distributor_form" action="#">
                    <input class="distributor_form_title " placeholder="Name" type="text">
                    <input class="distributor_form_title " placeholder="Last Name" type="text">
                    <input class="distributor_form_title " placeholder="Email" type="text">
                    <input class="distributor_form_title " placeholder="Your company" type="text">
                    <input class="distributor_form_review " placeholder="Additional information" type="text">
                </form>
                <div class="distributor_score ">
                    <button class="distributor_btn ">Send a request</button>
                </div>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="question_block">
            <div class="question_container">
                <h4 class="question_title">Any questions left?</h4>
                <span class="question_close"></span>
                <form class="question_form" action="#">
                    <input class="overlay_form_title" placeholder="Name" type="text">
                    <input class="overlay_form_title" placeholder="Last Name" type="text">
                    <input class="overlay_form_title" placeholder="Email" type="text">
                    <input class="question_form_review" placeholder="Your questions..." type="text">
                </form>
                <div class="question_score">
                    <button class="question_btn">Send</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

