<section class="extensions">
 
    
    <div class="catalog">
        <div class="container catalog_container">
            <div class="catalog_block">
                <div class="catalog_filters catalog_filters_open">
                    <button class="catalog_hide_filtres btn-reset">Lashes</button>
                    <div class="catalog_filter_line">
                        <div class="catalog_filter_block catalog_filter_block_open">
                            <button class="catalog_filter_line_btn btn-reset">Line</button>
                            <ul class="catalog_line_list catalog_line_list_open">
                                <li class="catalog_line_item">
                                    <lrabel class="custom_checkbox">
                                        <input type="checkbox" class="custom_checkbox_input">
                                        <span class="custom_checkbox_text">Lash&Cash</span>
                                    </lrabel>
                                </li>
                                <li class="catalog_line_item">
                                    <label class="custom_checkbox">
                                        <input type="checkbox" class="custom_checkbox_input">
                                        <span class="custom_checkbox_text">Gold</span>
                                    </label>
                                </li>
                                <li class="catalog_line_item">
                                    <label class="custom_checkbox">
                                        <input type="checkbox" class="custom_checkbox_input">
                                        <span class="custom_checkbox_text">Diamond Black</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                       <div class="catalog_filter_block">
                            <button class="catalog_filter_line_btn btn-reset">Type</button>
                            <ul class="catalog_line_list">
                                <li class="catalog_line_item">
                                    <label class="custom_checkbox">
                                        <input type="checkbox" class="custom_checkbox_input">
                                        <span class="custom_checkbox_text">Size by size</span>
                                    </label>
                                </li>
                                <li class="catalog_line_item">
                                    <label class="custom_checkbox">
                                        <input type="checkbox" class="custom_checkbox_input">
                                        <span class="custom_checkbox_text">Mix</span>
                                    </label>
                                </li>
                                <li class="catalog_line_item">
                                    <label class="custom_checkbox">
                                        <input type="checkbox" class="custom_checkbox_input">
                                        <span class="custom_checkbox_text">Bulk</span>
                                    </label>
                                </li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div> <!-- Catalog block -->

            <div class="catalog_grid">
                <div class="catalog_grid_top">
                    <p class="">1231asd312312</p>
                </div>
                <div class="catalog_grid_bottom">
                    <div class="catalog_grid_items">
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_advertasing" href="#" >
                            <div class="catalog_advertasing_descr">
                                <p class="catalog_advertasing_text">Diamond Black </p>
                                <p class="catalog_advertasing_subtext">Glue</p>
                                <button class="btn-reset catalog_advertasing_btn">Shop now</button>
                            </div>
                            <img class="catalog_advertasing_img" src="../img/extensions/black.png" alt="#" >
                        </a>
                        <a class="catalog_grid_advertasing_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                        <a class="catalog_grid_item" href="#" >
                            <img class="catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                            <span class="catalog_grid_span">NEW</span>
                            <div class="catalog_grid_descr">
                                <p class="catalog_grid_text">Lash Lift </p>
                                <p class="catalog_grid_subtext">Glue for lamination</p>
                                <div class="catalog_grid_price">5 EUR</div>
                            </div>
                        </a>
                    </div>
                    <a class="catalog_grid_show" href="#" >Show more</a>
                </div>
            </div>

        </div>
    </div>
</section>

