<div class="breadcrumbs ">
    <div class="container breadcrumbs_container breadcrumbs_container_line">
        <ul class="breadcrumbs_list ">
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="../index.html" >Home</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >faq_block</a>
            </li>
        </ul>
        <h3 class="breadcrumbs_title breadcrumbs_title_line">faq_block</h3>
    </div>
</div>


<div class="faq_block">
    <div class="container">
        <div class="faq_block_block_article">   
            <h4 class="faq_block_title">Is Sculptor cruelty-free?</h4>
            <p class="faq_block_text">Yes! All of Sculptor products are cruelty-free and certified, which means we don’t test on animals at any stage in our supply chain. </p>
            <h4 class="faq_block_title">Is Sculptor owned by a company that tests on animals?</h4>
            <p class="faq_block_text">Nope, we are not affiliated with any other beauty company.</p>
            <h4 class="faq_block_title">Is Sculptor a clean beauty brand?</h4>
            <p class="faq_block_text">Yes! Since we first launched Sculptor, we’ve worked hard to create products with good ingredients that deliver epic results. A big part of that is making sure that all our products are vegan, cruelty-free, and formulated with care. We believe there shouldn’t be a tradeoff between sticking to these commitments and creating innovative new launches for you to love. We’ve always used the word “clean” to describe how we formulate, but we know the definition of that term isn't finite. Here's what you can always count on from us when we talk about clean beauty.</p>
            <h4 class="faq_block_title">Where is my order?</h4>
            <p class="faq_block_text">Orders placed at sculptor.com will be processed and shipped within 2-3 business days. Orders placed after 1pm EST will be processed the following business day. All orders placed on Saturday and Sunday will be processed the following business day. You can access your order status and history anytime by signing into your account. Once your order has been shipped, you will receive an email shipping confirmation to the email address provided at purchase. For anything else, you can reach us at hello@sculptor.com or speak to someone directly at  Friday 9am–5pm EST.</p>
            <h4 class="faq_block_title">How much is shipping?</h4>
            <p class="faq_block_text">$8. Currently we offer free UPS Ground shipping within the continental U.S. for all orders over $45. </p>
            <h4 class="faq_block_title">How do I cancel my online subscription?</h4>
            <p class="faq_block_text">To cancel your subscription please reach out to us at hello@sculptor.com</p>
            <h4 class="faq_block_title">How long does it take to process a return?</h4>
            <p class="faq_block_text">Refunds for returned items are processed within 3-5 business days.</p>
            <h4 class="faq_block_title">How do I find out about new products?</h4>
            <p class="faq_block_text">The best way to find out about new products, brand news, and other cool stuff is to sign up for our mailing list. Promise we won’t blow up your inbox.</p>
        </div>
        <div class="faq_block_link">
            <a class="faq_block_email" href = "mailto: hello@sculptor.com"  >Got any other questions? Hit us up at hello@sculptor.com and we’ll help you out.</a>
        </div>
    </div>
</div>