<footer class="footer">
    <div class="footer_cookies">
      <div class="container">
        <div class="footer_cookies_block ">
          <p class="footer_cookies_text">We use cookies to deliver the best experience. By using our site, you agree to our privacy policy. Find out more here.</p>
          <button class="footer_cookies_btn">Accept</button>
          <button class="footer_cookies_btn">Decline</button>
        </div>
      </div>
    </div>
    <div class="footer_block">
      <div class="container footer_container">
        <div class="footer_service">
          <p class="footer_service_text">Customer service</p>
          <ul class="footer_service_list">
            <li class="footer_service_item">
              <a class="footer_service_link" href="" >Contact us</a>
            </li>
            <li class="footer_service_item">
              <a class="footer_service_link" href="" >Delivery, Payment and Returns</a>
            </li>
            <li class="footer_service_item">
              <a class="footer_service_link" href="" >FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer_information">
          <p class="footer_information_text">Information</p>
          <ul class="footer_information_list">
            <li class="footer_information_item">
              <a class="footer_information_link" href="" >Terms and Conditions</a>
            </li>
            <li class="footer_information_item">
              <a class="footer_information_link" href="" >Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer_social">
          <p class="footer_social_text">Social</p>
          <ul class="footer_social_list">
            <li class="footer_social_item">
              <a class="footer_social_link" href="" ><img src="../img/footer/icon2.svg" alt="#"></a>
            </li>
            <li class="footer_social_item">
              <a class="footer_social_link" href="" ><img src="../img/footer/icon.svg" alt="#"></a>
            </li>
            <li class="footer_social_item">
              <a class="footer_social_link" href="" ><img src="../img/footer/icon1.svg" alt="#"></a>
            </li>
          </ul>
        </div>
        <div class="footer_form">
          <p class="footer_form_text">Sign up for updates, offers, and more.</p>
          <form action="">
            <input class="footer_input" type="Email" placeholder="Email" >
            <button class="footer_btn">Sign me up</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer_rights">
      <div class="container footer_rights_container">
        <p class="footer_rights_text">© 2022 Sculptor. All Rights Reserved.</p>
      <div class="footer_rights_logos">
        <img src="../img/footer/visa.svg" alt="#">
        <img src="../img/footer/visa1.svg" alt="#">
      </div>
      </div>
    </div>
</footer>
