<header class="header">
  <div class="header_inner">
    <div class="container">
      <div class="header_block">
        <form class="header_search" action="#" >
          <button class="header_search_btn" aria-label="search"></button>
        </form>
        <nav class="nav header_nav">
          <ul class="header_nav_list">
            <li class="header_nav_item"><a href="../about.html" class="header_nav_link">About</a></li>
            <li class="header_nav_item"><a href="" class="header_nav_link">Delivery & Payment</a></li>
            <li class="header_nav_item"><a href="../contactUs.html" class="header_nav_link">Contact us</a></li>
          </ul>
        </nav>
        <div class="header_choose">
            <div class="header_choose_currency">EUR</div>
            <div class="header_choose_lenght">EN</div>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="subheader">
        <nav class="subheader_nav">
          <ul class="subheader_nav_list ">
            <li class="subheader_nav_item">
              <a href="#" class="subheader_nav_link">Laminations</a>
            </li>
            <li class="subheader_nav_item subheader_nav_left">
              <a href="../extensions.html" class="subheader_nav_link">Extensions</a>
            </li>
          </ul>
        </nav>
        <a class="subheader_nav_logo" href="#" >
          <img src="../img/header/logo.svg" alt="">
        </a>
        <nav class="subheader_nav">
          <ul class="subheader_nav_list">
            <li class="subheader_nav_item subheader_nav_right">
              <a href="./trending.html" class="subheader_nav_link">Trending</a>
            </li>
            <li class="subheader_nav_item ">
              <a href="#" class="subheader_nav_link">Instagram</a>
            </li>
          </ul>
        </nav>
        <ul class="subheader_cab">
          <li class="subheader_cab_item">
            <a class="subheader_cab_client" href="#" ></a>
          </li>
          <li class="subheader_cab_item">
            <a class="subheader_cab_purch" href="#" ></a>
          </li>
        </ul>
      </div>
    </div>
</header>
