<section class="days">
    <div class="container days_container">
        <div class="days_content">
            <h2 class="days_title">45-60 days effect after perming</h2>
            <a class="days_link" href="#" >Discover now</a>
        </div>
        <div class="days_photo">
            <img src="../img/days/lash.png" alt="">
        </div>
    </div>
</section>
<section class="product">
    <div class="container">
        <h2 class="product_title">
            The Sculptor products bring you to the highest level of your professionality
        </h2>
        <div class="product_block">
            <a class="product_img" href="#" >
                <img src="../img/product/girl.jpg" alt="#">
            </a>
            <div class="product_item">
                <a class="product_items pop_up_item">
                    <img class="product_item_img" src="../img/product/item.png" alt="#" >
                    <span class="product_item_new">NEW</span>
                    <div class="product_item_descr">
                        <h5 class="product_item_title">Lash Lift </h5>
                        <p class="product_item_text">Glue for lamination</p>
                        <p class="product_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="product_items ">
                    <img class="product_item_img" src="../img/product/item1.png" alt="#" >
                    <span class="product_item_new">NEW</span>
                    <div class="product_item_descr">
                        <h5 class="product_item_title">Lash Lift </h5>
                        <p class="product_item_text">Glue for lamination</p>
                        <p class="product_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="product_items">
                    <img class="product_item_img" src="../img/product/item2.png" alt="#" >
                    <span class="product_item_new">NEW</span>
                    <div class="product_item_descr">
                        <h5 class="product_item_title">Lash Lift </h5>
                        <p class="product_item_text">Glue for lamination</p>
                        <p class="product_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="product_items">
                    <img class="product_item_img" src="../img/product/item.png" alt="#" >
                    <span class="product_item_new">NEW</span>
                    <div class="product_item_descr">
                        <h5 class="product_item_title">Lash Lift </h5>
                        <p class="product_item_text">Glue for lamination</p>
                        <p class="product_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="product_items ">
                    <img class="product_item_img" src="../img/product/item1.png" alt="#" >
                    <span class="product_item_new">NEW</span>
                    <div class="product_item_descr">
                        <h5 class="product_item_title">Lash Lift </h5>
                        <p class="product_item_text">Glue for lamination</p>
                        <p class="product_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="product_items">
                    <img class="product_item_img" src="../img/product/item2.png" alt="#" >
                    <span class="product_item_new">NEW</span>
                    <div class="product_item_descr">
                        <h5 class="product_item_title">Lash Lift </h5>
                        <p class="product_item_text">Glue for lamination</p>
                        <p class="product_item_price">5 EUR</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="pigment">
    <div class="container">
        <div class="pigment_container">
            <img class="pigment_img" src="../img/pigment/pigm.png" alt="">
            <p class="pigment_text pigment_text_one">With Sculptor products, craftsmen become </p>
            <p class="pigment_text pigment_text_two">With Sculptor products, craftsmen become professionals </p>
            <p class="pigment_text pigment_text_three">With Sculptor, craftsmen become  </p>
        </div>
    </div>
</section>
<section class="colected">
    <div class="container">
        <h2 class="colected_title">
            We have collected the coolest and highest quality products from around the world
        </h2>
        <div class="colected_block">
            <div class="colected_item">
                <a class="colected_items">
                    <img class="colected_item_img" src="../img/colected/item.png" alt="#" >
                    <span class="colected_item_new">NEW</span>
                    <div class="colected_item_descr">
                        <h5 class="colected_item_title">Lash Lift </h5>
                        <p class="colected_item_text">Glue for lamination</p>
                        <p class="colected_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="colected_items ">
                    <img class="colected_item_img" src="../img/colected/item1.png" alt="#" >
                    <span class="colected_item_new">NEW</span>
                    <div class="colected_item_descr">
                        <h5 class="colected_item_title">Lash Lift </h5>
                        <p class="colected_item_text">Glue for lamination</p>
                        <p class="colected_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="colected_items">
                    <img class="colected_item_img" src="../img/colected/item2.png" alt="#" >
                    <span class="colected_item_new">NEW</span>
                    <div class="colected_item_descr">
                        <h5 class="colected_item_title">Lash Lift </h5>
                        <p class="colected_item_text">Glue for lamination</p>
                        <p class="colected_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="colected_items">
                    <img class="colected_item_img" src="../img/colected/item.png" alt="#" >
                    <span class="colected_item_new">NEW</span>
                    <div class="colected_item_descr">
                        <h5 class="colected_item_title">Lash Lift </h5>
                        <p class="colected_item_text">Glue for lamination</p>
                        <p class="colected_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="colected_items ">
                    <img class="colected_item_img" src="../img/colected/item1.png" alt="#" >
                    <span class="colected_item_new">NEW</span>
                    <div class="colected_item_descr">
                        <h5 class="colected_item_title">Lash Lift </h5>
                        <p class="colected_item_text">Glue for lamination</p>
                        <p class="colected_item_price">5 EUR</p>
                    </div>
                </a>
                <a class="colected_items">
                    <img class="colected_item_img" src="../img/colected/item2.png" alt="#" >
                    <span class="colected_item_new">NEW</span>
                    <div class="colected_item_descr">
                        <h5 class="colected_item_title">Lash Lift </h5>
                        <p class="colected_item_text">Glue for lamination</p>
                        <p class="colected_item_price">5 EUR</p>
                    </div>
                </a>
            </div>
            <a class="colected_img" href="#" >
                <img src="../img/colected/girl.jpg" alt="#">
            </a>
        </div>
    </div>
</section>
<section class="trending">
    <div class="container">
        <h4 class="trending_title">
            Whats trending
        </h4>
        <div class="trending_block">
            <a class="trending_item" href="#" >
                <img class="trending_item_img" src="../img/trending/img1.png" alt="#" >
                <h5 class="trending_item_title">Year in Review – 2022 Edition</h5>
                <p class="trending_item_text">What a year! I can honestly say that this has been the most challenging years…</p>
            </a>
            <a class="trending_item" href="#" >
                <img class="trending_item_img" src="../img/trending/img2.png" alt="#" >
                <h5 class="trending_item_title">Year in Review – 2022 Edition</h5>
                <p class="trending_item_text">What a year! I can honestly say that this has been the most challenging years…</p>
            </a>
            <a class="trending_item" href="#" >
                <img class="trending_item_img" src="../img/trending/img3.png" alt="#" >
                <h5 class="trending_item_title">Year in Review – 2022 Edition</h5>
                <p class="trending_item_text">What a year! I can honestly say that this has been the most challenging years…</p>
            </a>
        </div>
        <a class="trending_link" href="" >Watch all</a>
    </div>
    <button class="arrowUp">
    </button>
</section>
