<div class="breadcrumbs">
    <div class="container breadcrumbs_product_container">
        <ul class="breadcrumbs_list">
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="../index.html" >Home</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >extensions</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >eyelashes</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >diamond black</a>
            </li>
        </ul>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="product_diamond">
            <div class="product_content">
                <div class="product_slider">
                    <div class="product_slider_top">
                        <img src="../img/productPage/lash.png" alt="#">
                    </div>
                    <div class="product_slider_bottom">
                        <img src="../img/productPage/Bitmap.jpg" alt="#">
                        <img src="../img/productPage/Bitmap1.jpg" alt="#">
                    </div>
                </div>
            </div>
            <div class="product_descr">
                <span class="product_descr_span">TOP</span>
                <div class="product_descr_titles">
                    <h4 class="product_title">Diamond Black </h4>
                    <h6 class="product_title_price">5 EUR</h6>
                </div>
                <p class="product_subtitle">Eyelashes </p>
                <p class="product_text">Eyelashes are made of high quality fiber in ultra black color.</p>
                <div class="product_table">
                    <span class="product_table_span">Bend</span>
                    <ul class="product_table_list">
                        <li class="product_table_item">
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">B</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">C</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">CC</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">D</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">M</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="product_table">
                    <span class="product_table_span">Thickness</span>
                    <ul class="product_table_list">
                        <li class="product_table_item">
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">0,05</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">0,07</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">0,10</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="product_table">
                    <span class="product_table_span">Length</span>
                    <ul class="product_table_list">
                        <li class="product_table_item">
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">(5-7))</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">(7-13)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="product_table">
                    <span class="product_table_span">Color</span>
                    <ul class="product_table_list">
                        <li class="product_table_item">
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">Darck Black</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">Chocolate</span>
                            </label>
                            <label class="product_checkbox">
                                <input type="checkbox" class="product_checkbox_input">
                                <span class="product_checkbox_span">Brown</span>
                            </label>
                        </li>
                    </ul>
                </div>
                
               <div class="stepper">
                    <button class="stepper_btn_minus btn-reset stepper_btn_disable" aria-label="minus">
                        <img src="../img/productPage/minus.svg" alt="#">
                    </button>
                    <input type="text" class="stepper_input" value="1" maxlength="3">
                    <button class="stepper_btn_plus btn-reset" aria-label="plus">
                        <img src="../img/productPage/plus.svg" alt="#">
                    </button>
                    <button class="stepper_bag">Add to bag</button>
                </div> 
             
                <!-- <div class="stepper-input">
                    <input type="range" min="0" max="998" value="50">
                    <div class="input">
                        <button class="minus-btn">-</button>
                        <div class="range">
                            <div class="list"></div>
                        </div>
                        <button class="plus-btn">+</button>
                    </div>
                </div> -->

                
                <div class="faq">
                    <div class="faq_item">
                        <input class="faq_input" type="checkbox" name="faq" id="faq_1" >
                        <label class="faq_title" for="faq_1"  >About</label>
                        <div class="faq_text">
                            <p>The convenient consistency of the remover resembles a thick pudding and minimizes the product getting into the client's eyes. The exposure time is only 4 minutes. The tool is easily cleaned from the eyelashes.</p>
                        </div>
                    </div>
                </div>
                <div class="faq">
                    <div class="faq_item">
                        <input class="faq_input" type="checkbox" name="faq" id="faq_2" >
                        <label class="faq_title faq_title2" for="faq_2"  >How to use</label>
                        <div class="faq_text">
                            <p>123The convenient consistency of the remover resembles a thick pudding and minimizes the product getting into the client's eyes. The exposure time is only 4 minutes. The tool is easily cleaned from the eyelashes.</p>
                        </div>
                    </div>
                </div>
                <div class="faq">
                    <div class="faq_item">
                        <input class="faq_input" type="checkbox" name="faq" id="faq_3" >
                        <label class="faq_title faq_title3" for="faq_3"  >Ingredients</label>
                        <div class="faq_text">
                            <p>3333The convenient consistency of the remover resembles a thick pudding and minimizes the product getting into the client's eyes. The exposure time is only 4 minutes. The tool is easily cleaned from the eyelashes.</p>
                        </div>
                    </div>
                </div>

                <div class="icon">
                    <ul class="icon_list">
                        <li class="icon_item">
                            <img class="icon_img" src="../img/product/icon1.svg"   alt="">
                        </li>
                        <li class="icon_item">
                            <img class="icon_img"  src="../img/product/icon1.svg" alt="">
                        </li>
                        <li class="icon_item">
                            <img class="icon_img" src="../img/product/icon1.svg" alt="">
                        </li>
                    </ul>
                </div>


               





            </div> <!-- Descr -->
            
        </div>
      

    </div> <!-- container -->
    <div class="product_video">
        <iframe class="frame"  src="https://www.youtube.com/embed/adWKGEw4xzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
  

    <div class="like">
        <div class="container">
            <div class="like_container">
                <div class="like_descr">
                    <h4 class="like_title">You may also like</h4>
                    <p class="like_text">Additional products to complete your routine</p>
                </div>
                <div class="like_block">
                    <a class="like_catalog_grid_item" href="#" >
                        <img class="like_catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                        <span class="like_catalog_grid_span">NEW</span>
                        <div class="like_catalog_grid_descr">
                            <p class="like_catalog_grid_text">Lash Lift </p>
                            <p class="like_catalog_grid_subtext">Glue for lamination</p>
                            <div class="like_catalog_grid_price">5 EUR</div>
                        </div>
                    </a>
                    <a class="like_catalog_grid_item" href="#" >
                        <img class="like_catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                        <span class="like_catalog_grid_span">NEW</span>
                        <div class="like_catalog_grid_descr">
                            <p class="like_catalog_grid_text">Lash Lift </p>
                            <p class="like_catalog_grid_subtext">Glue for lamination</p>
                            <div class="like_catalog_grid_price">5 EUR</div>
                        </div>
                    </a>
                    <a class="like_catalog_grid_item" href="#" >
                        <img class="like_catalog_grid_img" src="../img/extensions/img1.jpg" alt="#" >
                        <span class="like_catalog_grid_span">NEW</span>
                        <div class="like_catalog_grid_descr">
                            <p class="like_catalog_grid_text">Lash Lift </p>
                            <p class="like_catalog_grid_subtext">Glue for lamination</p>
                            <div class="like_catalog_grid_price">5 EUR</div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
        
    </div> <!-- Like -->

    <div class="reviews">
        <div class="container">
            <div class="reviews_container">
                <div class="reviews_mark">
                    <div class="reviews_mark_block">
                        <div class="reviews_mark_rate">
                            <p class="reviews_mark_text">Reviews</p>
                            <img class="reviews_mark_img" src="../img/productPage/stars.png" alt="" >
                            <span class="reviews_mark_subtext">20 reviews</span>
                        </div>
                        <span class="reviews_mark_grade">4.83</span>
                    </div>
                   <button class="reviews_mark_btn">Write a review</button>

                </div>
                <div class="reviews_coments">
                    <div class="reviews_slider">
                        <div class="reviews_slider_box">
                            <div class="reviews_coment">
                                <p class="reviews_coment_name">Lesa L.</p>
                                <img class="reviews_coment_rate" src="../img/productPage/starsSmall.png" alt="" >
                                <span class="reviews_coment_date">Feb 22, 2021</span>
                                <p class="reviews_coment_descr">The wand is designed to curl and coat. It gives a great lifting affect to the lashes. This is my new favorite masacara!!</p>
                                <a class="reviews_coment_more" href="#" >Read more</a>
                            </div>
                            <div class="reviews_coment_slider">
                                <div class="reviews_coment">
                                    <p class="reviews_coment_name">Lesa L.</p>
                                    <img class="reviews_coment_rate" src="../img/productPage/starsSmall.png" alt="" >
                                    <span class="reviews_coment_date">Feb 22, 2021</span>
                                    <p class="reviews_coment_descr">The wand is designed to curl and coat. It gives a great lifting affect to the lashes. This is my new favorite masacara!!</p>
                                    <a class="reviews_coment_more" href="#" >Read more</a>
                                </div>
                            </div>
                            <div class="reviews_coment_slider">
                                <div class="reviews_coment">
                                    <p class="reviews_coment_name">Lesa L.</p>
                                    <img class="reviews_coment_rate" src="../img/productPage/starsSmall.png" alt="" >
                                    <span class="reviews_coment_date">Feb 22, 2021</span>
                                    <p class="reviews_coment_descr">The wand is designed to curl and coat. It gives a great lifting affect to the lashes. This is my new favorite masacara!!</p>
                                    <a class="reviews_coment_more" href="#" >Read more</a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 