<div class="breadcrumbs breadcrumbs_trending">
    <div class="container breadcrumbs_trending_container breadcrumbs_container">
        <ul class="breadcrumbs_list">
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="../index.html" >Home</a>
            </li>
            <li class="breadcrumbs_item">
                <a class="breadcrumbs_link" href="#" >trending</a>
            </li>
        </ul>
        <h3 class="breadcrumbs_title">trending</h3>
    </div>
</div>

<div class="trending">
    <div class="container trending_container">
        <ul class="trending_list">
            <li class="trending_item">
                <a class="trending_link" href="./trendingArticle.html" >Lamination</a>
            </li>
            <li class="trending_item">
                <a class="trending_link" href="../extensions.html" >Extensions</a>
            </li>
            <li class="trending_item">
                <a class="trending_link" href="./trendingArticle.html" >Tips for MASTERS</a>
            </li>
        </ul>

        <div class="trending_container_block">
            <div class="trending_video">
                <div class="trending_video_block">
                    <div class="trending_video_descr">
                        <h4 class="trending_video_title">Coloristics – the science of color</h4>
                        <p class="trending_video_text">Color is able to control our attention, draw the eye to the main thing and distract from the secondary.</p>
                        <div class="trending_video_link">
                            <iframe  src="https://www.youtube.com/embed/ThVDisThv4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                   <img class="trending_video_img" src="../img/trending-tips/brush.jpg" alt="" >
                </div>
            </div>
            <div class="trending_left">
                <img class="trending_left_img" src="../img/trending-tips/hand.png" alt="" >
                <div class="trending_left_block">
                    <div class="trending_left_descr">
                        <h4 class="trending_left_title">How to choose the right volume?</h4>
                        <p class="trending_left_text">Eyelash Extensions according to eye shape: Julia’s practical advices about effects, shape and curvature of eyelashes.</p>
                        <a class="trending_left_link" href="#" >Discover now</a>
                    </div>
                    <img class="trending_left_descr_img" src="../img/trending-tips/foam.png" alt="" >
                </div>
            </div>
            <div class="trending_right">
                <div class="trending_right_block">
                    <div class="trending_right_descr">
                        <h4 class="trending_right_title">Trend effects in eyelash extensions</h4>
                        <p class="trending_right_text">Every second client asks to build up fashionable rays, Kim or an arrow.</p>
                        <a class="trending_right_link" href="#" >Discover now</a>
                        <img class="trending_right_descr_img" src="../img/trending-tips/cream.png" alt="" >
                    </div>
                </div>
                <img class="trending_right_img" src="../img/trending-tips/face.png" alt="face" >
            </div>
            <div class="trending_left">
                <img class="trending_left_img" src="../img/trending-tips/glue.png" alt="" >
                <div class="trending_left_block">
                    <div class="trending_left_descr">
                        <h4 class="trending_left_title">How to choose the right volume?</h4>
                        <p class="trending_left_text">Eyelash Extensions according to eye shape: Julia’s practical advices about effects, shape and curvature of eyelashes.</p>
                        <a class="trending_left_link" href="#" >Discover now</a>
                    </div>
                    <img class="trending_left_descr_img" src="../img/trending-tips/lashs.png" alt="" >
                </div>
            </div>
            <div class="trending_right trending_right_lust">
                <div class="trending_right_block">
                    <div class="trending_right_descr">
                        <h4 class="trending_right_title">Trend effects in eyelash extensions</h4>
                        <p class="trending_right_text">Every second client asks to build up fashionable rays, Kim or an arrow.</p>
                        <a class="trending_right_link" href="#" >Discover now</a>
                        <img class="trending_right_descr_img" src="../img/trending-tips/man.png" alt="" >
                    </div>
                </div>
                <img class="trending_right_img" src="../img/trending-tips/girl.png" alt="face" >
            </div>
        </div>

        <div class="trending_more">
            <a class="trending_more_link" href="#" >Show more</a>
        </div>
    </div>
</div>

